<div class="toolbar" role="banner">
  <div class="logo" routerLink="/home">
    <img
    width="40"
    alt="Carro Logo"
    src="../../../../assets/logo-car.png">
    <span>Info Car</span>
  </div>
  <div class="home" routerLink="/home" routerLinkActive="active">
    <span>Home</span>
  </div>
  <div class="list" routerLink="/vehicles" routerLinkActive="active">
    <span>Veículos</span>
  </div>
  <div class="add-vehicle" routerLink="/add-vehicle" routerLinkActive="active">
    <span>Adicionar Veículo</span>
  </div>
</div>