<h4 class="mb-4">Novo veículo</h4>
<form class="card" [formGroup]="form" #formDirective="ngForm">
  
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Marca</mat-label>
    <input matInput formControlName="marca" type="text">
    <mat-error>
      <app-form-field-error [form-control]="form.get('marca')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Modelo</mat-label>
    <input matInput formControlName="modelo" type="text">
    <mat-error>
      <app-form-field-error [form-control]="form.get('modelo')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Ano</mat-label>
    <input matInput formControlName="ano" type="text">
    <mat-error>
      <app-form-field-error [form-control]="form.get('ano')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Placa</mat-label>
    <input matInput formControlName="placa" type="text">
    <mat-error>
      <app-form-field-error [form-control]="form.get('placa')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Renavam</mat-label>
    <input matInput formControlName="renavam" type="text">
    <mat-error>
      <app-form-field-error [form-control]="form.get('renavam')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Chassi</mat-label>
    <input matInput formControlName="chassi" type="text">
    <mat-error>
      <app-form-field-error [form-control]="form.get('chassi')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <div class="d-flex justify-content-center mt-2">
    <button class="w-25" mat-raised-button color="warn" (click)="addVehicle()">
      Criar veículo
    </button>
  </div>
</form>