.main {
  position: relative;
  top: 80px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #fd7e14 !important;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #fd7e14 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #fd7e14 !important;
}
